@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Эта область служит тестовой для отображения частичного представления получения списка категорий товаров</p>
@Html.Action("GetCategory")
