@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Нижний Новгород<br />
    ул. Героя Жидкова, д.2<br />
    <abbr title="Phone">Тел.:</abbr>
    +7-920-882-88-22
</address>

<address>
    <strong>Support:</strong>   <a href="https://vk.com/m1221">Ссылка на VK</a><br />
</address>